#home-wrap {
  width: 100%;
}

#honme-inner-wrap {
  /* border: 1px solid #cccccc; */
  border-radius: 5px;
  width: 90%;
  height: 300px;
  margin: 0 auto;
  padding: 30px 35px;
}

#home-welcome {
  text-align: center;
  margin-top: 25px;
}

#home-buttons {
  text-align: center;
}

#home-buttons p {
  margin: 10px 0;
}

@media screen and (max-width: 576px) {
  #home-welcome {
    font-size: 10px;
    padding: 0;
  }

  #honme-inner-wrap {
    padding: 0;
    margin-top: 35px;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  #honme-inner-wrap {
    width: 80%;
    margin-top: 60px;
  }
}

@media screen and (min-width: 992px) {
  #honme-inner-wrap {
    width: 50%;
    margin-top: 80px;
  }
}