#planner-wrap {
  width: 90%;
  margin: 20px auto 0 auto;
}

h4 {
  height: 60px;
}

#label{
  font-size: 10px;
}

.planner-card {
  margin-top: 30px;
}

#planner-wrap .list {
  margin: 0;
}

.list-group-item {
  height: 50px;
  cursor: pointer;
  background-color: #f7f7f7;
}

.form-check input:hover, label:hover {
  cursor: pointer;
  text-decoration: underline;
}

#choose-goals label {
  display: inline-block;
  width: 100%;
}

#flag-wrap {
  margin-right: 10px;
}

@media screen and (max-width: 576px) {
  h4 {
    height: auto;
  }

  #planner-wrap {
    width: 100%;
    margin-top: 10px;
  }

  #acts-list-wrap {
    padding-top: 25px;
  }

  #goals-list-wrap, #acts-list-wrap {
    padding-right: 0;
  }

  .planner-card {
    margin-top: 0;
  }

  #planner-wrap .list {
    width: 100%;
    margin-top: 0;
  }

  #acts-list-wrap .list {
    margin-top: 10px;
    margin-bottom: 30px;
  }

  #label, h4 {
    padding: 0;
  }
}

@media screen and (min-width: 992px) {
  .planner-card {
    margin: 35px auto 0 auto;
  }

  #planner-wrap .list {
    width: 85%;
    margin-top: 0;
  }
}